* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nimbus Sans L";
}
#main {
  width: 100%;
}
#nav {
  position: relative;
  padding: 2vw 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-left {
  display: flex;
  gap: 2vw;
}
#nav a {
  color: #000;
  text-decoration: none;
}
#nav #centered {
  font-size: 1.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hero {
  width: 100%;
  margin-top: 15vw;
  padding: 0 10vw;
}
#sustain {
  width: 10vw;
}
#sustain p {
  font-size: 1px;
  margin: 10px 0;
  font-weight: 800;
  opacity: 0.6;
  text-transform: capitalize;
}
#sustain #susimagewrapper {
  width: 100%;
  height: 15vw;
  background-color: red;
}
