* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nimbus Sans L";
}
#main {
  width: 100%;
}
#nav {
  position: relative;
  padding: 2vw 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-left {
  display: flex;
  gap: 2vw;
}
#nav a {
  color: #000;
  text-decoration: none;
}
#nav #centered {
  font-size: 1.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
